<!DOCTYPE html>
<html ng-app="ssr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script type="text/javascript">
        (function(){

			var stopObject = {id: 0, name: 'Polcodowa'};
			var href = '/{{ city }}/api/0';
            
            var app = angular.module('ssr', [ ]).config(['$interpolateProvider', function ($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }]);
        
            app.controller('TablicaController', [ '$http', function($http) {
        		var tablica = this;
        		this.trams = [];

        		this.test = function($http) {
            		/*$http.get(href).success(function(data){
                		alert('siema');
            			tablica.trams = data;
            		}).error(function(){
	                	alert('siema');
                	});*/
        		}

        		this.datetime = new Date();

        		this.getStop = function() {
            		return stopObject;
            	}
            }]);

            app.controller('StopsController', [ '$http', '$scope', function($http, $scope) {
        		var st = this;
        		this.stops = [];

        		$http.get('/api/stops/{{ city }}').success(function(data){
            		st.stops = data;
            	});

            	this.setStop = function(obj) {
                	href = '/{{ city }}/api/' + obj.id;
					stopObject = obj;
                };
            }]);
           
        })();
        </script>
        <div style="width: 20%; float: left;">
            <h1>Przystanki</h1>
            <ul ng-controller="StopsController as st">
                <li ng-repeat="stop in st.stops">
                    <a href="#[[ stop.id ]]" ng-click="st.setStop(stop)">[[ stop.name ]]</a>
                </li>
            </ul>
        </div>

        <div style="width: 80%; margin-left: 20%;">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
