<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="app">
        <div class="slupek" id="stops">
            <h1>Przystanki</h1>
            <ul>
                <li v-for="stop in stops">
                    <a href="#[[ stop.id ]]" v-on:click="update(stop)">[[ stop.name ]]</a>
                </li>
            </ul>
        </div>

        <div style="width: 85%; margin-left: 15%;">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
        document.getElementById('stops').style.height = window.innerHeight + 'px';
        </script>
        
        <script type="text/javascript" src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
        <script type="text/javascript">
		var stopObject = {id: 3, name: 'Polcodowa'};
		var href = '/{{ city }}/api/0';
		var tablicaObject;

		Vue.config.delimiters = ['[[', ']]'];

		
		new Vue({
            el: '#app',
            data: {
                stops: [],
                trams: []
            },
            created: function () {
                this.initialize();
                this.getStops();
            },
			methods: {
				initialize: function() {
				    this.trams = [
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: 'Wybierz przystanek', time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null},
         	        	{'line': '.', direction: null, time: null}
         	        ];
				},				
				getStops: function(){
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    xhr.open('GET', '/api/stops');
                    xhr.onload = function () {
                    	self.stops = JSON.parse(xhr.responseText)
                    }
                    xhr.send();
				},
            	update: function(stop) {
                    var xhr = new XMLHttpRequest();
                    var self = this;
                    xhr.open('GET', '/{{ city }}/api/' + stop.id);
                    xhr.onload = function () {
                        var data = JSON.parse(xhr.responseText);
                        if(data.length == 0) {
                            self.trams = [
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: 'Koniec kursów', time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null},
                	        	{'line': '.', direction: null, time: null}
                	        ];
                        } else {
                            self.trams = data;
                            for(var x = data.length; x < 10; x++) {
                                self.trams.push({'line': '.', direction: null, time: null});
                    		}
                            
                        }
                    }
                    xhr.send();
                }
			}
		});
        </script>
    </body>
</html>
